[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
osmxtract = "*"
geopandas = "*"
pandas = "*"
rtree = "*"
requests = "*"
psycopg2-binary = "*"
networkx = "*"
torch = "*"
scipy = "*"
h5py = "*"
sqlalchemy = "*"
geoalchemy2 = "*"

[dev-packages]
notebook = "*"
jupyterlab = "*"
matplotlib = "*"
ipykernel = "*"
yoyo-migrations = "*"

[requires]
python_version = "3.9"
